* {
    box-sizing: border-box;
  }
  body {
    background: rgb(200, 226, 254);
  }

  /* CSS Custom Properties */
  :root {
    --main-bg: #6d78cd;
    --top-menu-bg: #04106a;
    --sub-menu-bg: #2897b0;
  }
  
  /* main{
    background-color: var( --main-bg);
  } */
  body {
    font-family: Tahoma, Geneva, sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 3rem auto;
    color: rgba(255, 255, 255, 0.927);

     
  }


  
  
  .flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  #top-menu a:hover {
    background-color: var(--sub-menu-bg);
  }

  
 #top-menu {
        position: relative; 
  }
  #top-menu {
    z-index: 20;
  }

#sub-menu a:hover {
  background-color: var(--top-menu-bg);
}
nav a.active {
    background-color: var(--sub-menu-bg);
    color: var(--main-bg);
}




/* Card css */
.cards {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  align-items: center;
  
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-right: 100%;
  margin-left: 200%;
}